:root {
    font-size: 1.5em;
}

body {
    margin: 0;
}

.container {
    max-width: min(150rem, 100%);
    margin: 0 auto;
    height: 100vh;
}

.purple {
    background-color: rgb(228, 152, 190);
}

.yellow {
    background-color: rgb(253, 241, 159);
}

.blue {
    background-color: rgb(155, 222, 239);
}

.table {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.symdex {
    display: flex;
}

.cell {
    width: 6em;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-areas: "symbol index electrons" "name name electrons" "mass mass electrons";
    border: 1px solid black;
    padding: 0.15rem;
}

.cell>* {
    display: flex;
    align-items: center;
    min-height: 1em;
}

.cell.right {
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-areas: "electrons index symbol" "electrons name name" "electrons mass mass";
}

.symbol {
    font-size: 1.7em;
    font-weight: 900;
    color: black;
    grid-area: symbol;
    flex-direction: column;
}

.left .symbol {
    align-items: flex-start;
}

.right .symbol {
    align-items: flex-end;
}

.index {
    font-size: 1.2em;
    font-weight: 900;
    grid-area: index;
    justify-content: flex-start;
    flex-direction: column;
}

.name {
    color: grey;
    font-size: 0.7em;
    text-transform: uppercase;
    grid-area: name;
}

.left .name {
    justify-content: flex-start;
}

.right .name {
    justify-content: flex-end;
}

.mass {
    font-size: 0.8em;
    font-weight: 700;
    grid-area: mass;
}

.left .mass {
    justify-content: flex-start;
}

.right .mass {
    justify-content: flex-end;
}

.electrons {
    grid-area: electrons;
    flex-direction: column;
    list-style: none;
    font-size: 0.5rem;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}

.left .electrons {
    align-items: flex-end;
    padding-left: 1em;
}

.right .electrons {
    align-items: flex-start;
    padding-right: 1em;
}